# Build libraries
/libs/eigen/
/libs/eigen_build/
/libs/openMVS_build/
/libs/vcglib/

# Node
/node_modules/
npm-debug.log*

# Runtime directories
/uploads/
/projects/
/public/models/

# Python
__pycache__/
*.py[cod]
*.so
.env
.venv/
venv/

# Ruff
.ruff_cache/
